# Port d'exposition de l'application
PORT=8080

# Environnement ASP.NET Core (Development expose Swagger)
ASPNETCORE_ENVIRONMENT=Production

# SMTP facultatif
SMTP_HOST=
SMTP_PORT=587
SMTP_SSL=false
SMTP_USER=
SMTP_PASSWORD=
SMTP_FROM=
SMTP_FROM_NAME=Mohasabi
